* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
html {
  font-size: 62.5%;
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(https://fonts.gstatic.com/s/robotoslab/v9/BngMUXZYTXPIvIBgJJSb6ufN5qA.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(https://fonts.gstatic.com/s/robotoslab/v9/BngRUXZYTXPIvIBgJJSb6u92w7CGwRg.ttf) format('truetype');
}
html {
  font-style: 'Roboto Slab' serif;
}
h2 {
  font-size: 2.4rem;
}
p {
  font-size: 1.2rem;
}
.text-container {
  background-color: #edf9f3;
  display: flex;
  justify-content: space-around;
  align-content: center;
}
.text-container nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
.text-container nav a {
  text-decoration: none;
  color: #47624f;
  font-size: 1.8rem;
  line-height: 2.8rem;
  padding: 0 1rem;
  font-weight: 800;
}
.text-container nav a:hover {
  color: #edf9f3;
  cursor: pointer;
  background-color: #47624f;
}
.text-container h1 {
  font-size: 2.5rem;
  letter-spacing: 1px;
}
.text-container h1 span {
  color: #43db43;
}
header {
  background-image: url(../images/home-banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 45vh;
}
.home-about {
  display: flex;
  justify-content: space-around;
  padding: 3.5rem 0;
}
.home-about .home-about-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 35%;
}
.home-about .home-about-text h2 {
  color: #43db43;
}
.home-about .home-about-text a {
  text-decoration: none;
  border: 1px solid #47624f;
  width: 16rem;
  padding: 0.5rem 1.8rem;
  text-align: center;
  font-weight: bold;
  color: #47624f;
  background: #43db43;
  font-size: 1.5rem;
}
.home-about .home-about-text a:hover {
  background-color: #47624f;
  color: #43db43;
}
.home-about img {
  width: 35%;
}
