* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
html {
  font-size: 62.5%;
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(https://fonts.gstatic.com/s/robotoslab/v9/BngMUXZYTXPIvIBgJJSb6ufN5qA.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(https://fonts.gstatic.com/s/robotoslab/v9/BngRUXZYTXPIvIBgJJSb6u92w7CGwRg.ttf) format('truetype');
}
html {
  font-style: 'Roboto Slab' serif;
}
h2 {
  font-size: 2.4rem;
}
p {
  font-size: 1.2rem;
}
h1,
h2,
h3 {
  text-transform: uppercase;
}
.text-container {
  background-color: #edf9f3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
}
.text-container nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
.text-container nav a {
  text-decoration: none;
  color: #3d5544;
  font-size: 1.8rem;
  line-height: 2.8rem;
  padding: 0 1rem;
  border-radius: 5px;
  font-weight: 800;
}
.text-container nav a:hover {
  color: #edf9f3;
  cursor: pointer;
  background-color: #3d5544;
}
.text-container h1 {
  font-size: 2.5rem;
  letter-spacing: 1px;
}
.text-container h1 span {
  color: #3cc43c;
}
header {
  background-image: url(../images/home-banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 45vh;
}
.home-about {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: inherits;
  padding: 3.5rem 0;
}
.home-about .home-about-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: inherits;
  width: 35%;
}
.home-about .home-about-text h2 {
  color: #3cc43c;
}
.home-about .home-about-text a {
  text-decoration: none;
  border: 1px solid #3d5544;
  width: 16rem;
  padding: 0.5rem 1.8rem;
  text-align: center;
  font-weight: bold;
  color: #3d5544;
  background: #3cc43c;
  font-size: 1.5rem;
}
.home-about .home-about-text a:hover {
  background-color: #3d5544;
  color: #3cc43c;
}
.home-about img {
  width: 35%;
}
.home-app-info {
  background-color: #edf9f3;
  color: #3d5544;
  text-align: center;
  padding: 3rem 0;
}
.home-app-info h2 {
  padding-bottom: 1.5rem;
}
.home-app-info .content-app-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: inherits;
}
.home-app-info .content-app-info div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: inherits;
  text-align: left;
  padding: 3.5rem 0;
  align-content: center;
}
.home-app-info .content-app-info div .about-text {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: inherits;
}
.home-app-info .content-app-info div .about-text h3 {
  font-size: 1.8rem;
}
.home-app-info .content-app-info div .about-text p {
  line-height: 1.8rem;
}
.home-app-info .content-app-info div img {
  width: 40%;
}
.home-app-info .content-app-info div .text-01 {
  order: 2;
  justify-content: center;
  align-content: center;
}
.home-app-info .content-app-info div .text-01 h3 {
  padding-bottom: 5rem;
}
.home-app-info .content-app-info div .text-01 p {
  line-height: 1.8rem;
}
.home-app-info .content-app-info div .img-01 {
  order: 1;
}
