header {
  //Background settings for image
  background-image: url(../images/home-banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 45vh;
}

/* Skills Section Styles */
#skills{
    background-color:#E0FFFF;
  }
  #skills h2{
    text-align:center;
    padding:3% 0;
  }
  #skills .contanier{
    display:flex;
    justify-content:space-around;
  }
  
  #skills .contanier div{
    text-align:center;
    width:25%;
  }
  #skills .contanier div p{
    text-align:justify;
  }
  
  /* End Of Skills Section */
  